/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

#gingerbread {
  filter: brightness(0.9) saturate(1.5);
  cursor: pointer;
  width: 64px;
  height: 64px;
  transition: transform 5.5s ease;
}

#gingerbread:hover {
  transform: rotate(610deg);
}

svg circle,
svg polygon {
  cursor: pointer;
}

svg circle:hover,
svg polygon:hover {
  filter: url(#blur-shadow);
}

/* Custom styles for dark mode */
body[data-bs-theme="dark"] :is(.modal-content, .modal-header, .modal-footer) {
  background-color: #343a40;
  color: #ffffff;
}
